.open-sans-font {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  background-image: url(/images/header_bg.png), url(/images/developer.png),
    url(/images/Hero-bg.png);
  background-size: 100%;
}
.text-color-orange {
  color: #fd6e0a;
}

.dark-2 {
  color: #474747;
}

.button-style {
  color: white;
  padding: 18px 35px;
  background-color: #fd6e0a;
  border-radius: 5px;
  font-weight: bolder;
  font-size: 1em;
  border: none;
}

.button-style:hover {
  background-color: aquamarine;
  color: black;
  cursor: pointer;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 150px;
}

.nav-title {
  font-size: 45px;
  font-weight: bolder;
}

nav ul {
  display: flex;
  align-items: center;
}
nav ul li {
  margin: 20px;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
}
